body {
  margin: 0;
  padding: 0;
  background-color: #f7ecde;
}
*,
::before,
::after {
  box-sizing: border-box;
}
img {
  width: 100%;
  display: block;
}

::selection {
  color: black;
  background-color: #fec260;
}

h1 {
  font-family: Pacifico;
  font-size: 50px;
  position: relative;
  display: inline-block;
}
h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 25%;
  left: 0;
  bottom: 10px;
  background-color: #fec260;
  transition: height 500ms;
  z-index: -1;
}

h1:hover:after {
height: 50%;
}

.Bookmark h2{
        font-family: "Righteous", cursive;
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    background-clip: text;
    color: transparent;
    font-weight: 500;
    margin-inline: 3px;
}
.Bookmark .ic-first{
    font-size: 25px;
    color: #3ca55c;
}
.Bookmark .ic-second{
    font-size: 25px;
    color: #b5ac49;
}

.Bookmark{
    border-top: 2px dotted black;
  border-bottom: 2px dotted black;
}

.form-control:focus {
  border-color: #d99c39;
  box-shadow: 0 0 0 0.25rem #fec26055;
}
.form-sec{
    font-family:"PT Sans Caption",sans-serif;
    font-weight: 600;
    color: #212529;
}
.form-sec label{
     font-family:"PT Sans Caption",sans-serif;
    font-weight: 600;
    color: #212529;

}


.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #D1512D;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #BB4120;
}


.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #9eb23b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8a9e23;
}


.btn-info {
    --bs-btn-color: #fff;
    --bs-btn-bg: #d1512d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb4120; 
}

.th-wrap{
  white-space: nowrap;
}

.rounded-circle{
  width: 20px;
  height: 20px;
  padding: 0;
}

.round1{
  background-color: #F15F5D;
}

.round2{
background-color: #FEBE2E;
}

.round3{
background-color: #4DB748;
}
.box-content{
  width: 500px;
  z-index: 9;
  font-family: "Bree Serif" , serif;
  font-size: 21px;
}

.box-info{
background-color: rgba(0,0 ,0 ,0.5 );
}